videos/DERS-4-SESSION-1-DATA_VISUALIZATION-2025-10-15.webm filter=lfs diff=lfs merge=lfs -text
videos/DERS-4-SESSION-2-OBJECT_ORIENTED_PROGRAMMING-2025-10-15.webm filter=lfs diff=lfs merge=lfs -text
videos/DERS-5-complexity-EN-2025-10-28_18.38.23.mp4 filter=lfs diff=lfs merge=lfs -text
videos/DERS-5-complexity-TR-2025-10-28_19.26.55.mp4 filter=lfs diff=lfs merge=lfs -text
videos/list.txt filter=lfs diff=lfs merge=lfs -text
videos/DERS-6-ListsTuplesMaps-2025-11-05-151043.webm filter=lfs diff=lfs merge=lfs -text
videos/DERS-7-Recursion-2025.11.16-00.33.00.mkv filter=lfs diff=lfs merge=lfs -text
videos/DERS-8-Stacks-And_Queues-2025-11-19-135915.webm filter=lfs diff=lfs merge=lfs -text
videos/DERS-9-LinkedLists-Trees-2025-11-19-145855.webm filter=lfs diff=lfs merge=lfs -text
videos/DERS-10-Sorting-2025-11-26-142635.webm filter=lfs diff=lfs merge=lfs -text
videos/DERS-11-GRAPHS-ENGLISH-2025-12-03-140215.webm filter=lfs diff=lfs merge=lfs -text
videos/DERS-11-GRAPHS-TURKISH-2025-12-03-154442.webm filter=lfs diff=lfs merge=lfs -text
